<%# div for both image and details %>
<% menu_items.each do |menu_item| %>

<div class="menu-card-container"
  data-controller="expand"
  data-action="click->expand#expandModal">

  <%# Hold the pictures and the navigation dots %>
  <div data-action="scroll@window->menu-scrolling#colors" class="menu-image-container">
    <%# get all the pictures and stack them on each other %>
    <div class="slider">
      <%= cl_image_tag(menu_item.photos[0].key, { class: "img-1", alt: "Image 1" }) %>
      <%= cl_image_tag(menu_item.photos[1].key, { class: "img-2", alt: "Image 2" }) %>
      <%= cl_image_tag(menu_item.photos[2].key, { class: "img-3", alt: "Image 3" }) %>
      <%= cl_image_tag(menu_item.photos[3].key, { class: "img-4", alt: "Image 4" }) %>
    </div>

    <%# get the nav buttons to switch between pictures%>
    <div class="navigation-button">
      <span class="dot active first-dot"
      data-controller="slideshow"
      data-action="click->slideshow#changeImage"></span>
      <span class="dot second-dot"
      data-controller="slideshow"
      data-action="click->slideshow#changeImage"></span>
      <span class="dot third-dot"
      data-controller="slideshow"
      data-action="click->slideshow#changeImage"></span>
      <span class="dot fourth-dot"
      data-controller="slideshow"
      data-action="click->slideshow#changeImage"></span>
    </div>
  </div>


  <%# get the details of the menu item %>
  <div class="menu-card-description-container">
    <%# name and price %>
    <div class="menu-card-title-container">
      <h3 style="font-size:24px"><%= menu_item.name %></h3>
      <h4>¥<%=menu_item.price%></h4>
    </div>
    <%# description %>
    <div class="description-and-advice">
      <p><%= menu_item.description %></p>
      <p><%= menu_item.advice %></p>
    </div>
  </div>

</div>


<% end %>
