<%= render "navbar" %>

<%# div for scrolling javascript event %>
<div class="page-container"
  data-controller="category-highlight expand modal-slideshow"
  >

  <h1 class="page-header">MENU</h1>
  <%# Menu page heading and item categories %>

  <div class='menu-intro'>

    <%# Menu categories and navigation %>
    <%= render 'menu_page_navigation' %>

  </div>

  <div id="menu-item-modal">
  </div>

  <div
    id="menu-displays"
    data-action="scroll@window->category-highlight#colors"
  >
    <%# container to align all menu cards %>
    <div id="mains" class="menu-items-container gate-to-mains">
      <%= render 'menu_card', menu_items: @main_courses %>
    </div>
    <div id="snacks" class="menu-items-container gate-to-snacks">
      <%= render 'menu_card', menu_items: @snacks %>
    </div>
    <div id="desserts" class="menu-items-container gate-to-desserts">
      <%= render 'menu_card', menu_items: @desserts %>
    </div>
    <div id="sets" class="menu-items-container gate-to-sets">
      <%= render 'menu_card', menu_items: @set_meals %>
    </div>
    <div id="drinks" class="menu-items-container gate-to-drinks">
      <%= render 'menu_card', menu_items: @drinks %>
    </div>
  </div>

</div>

<%# div to darken the background when one menu card is clicked %>
<div id = "overlay">
</div>
