<%= render "navbar" %>

<%# div for scrolling javascript event %>
<div class="page-container"
  data-controller="category-highlight expand modal-slideshow"
  >

  <H1 style="margin:0">MENU</H1>
  <%# Menu page heading and item categories %>

  <div class='page-intro'>

    <%# Page heading %>
    <%# <div>
      <h1>MENU</h1>
    </div> %>

    <%# Menu categories %>
    <div class='intro-content'>

      <%# <div>
        <h3>CATEGORIES</h3>
        <H1>MENU</H1>
      </div> %>

      <div id='categories' class='menu-categories'
        data-action="scroll@window->category-highlight#colors">
        <h3
          id='cat-main' style="font-size:28px" class="link-to-mains"
          data-controller="go"
          data-action="scroll@window->category-highlight#colors click->go#goToSection">
          MAIN COURSE
        </h3>
        <h3
          id='cat-snack' class="link-to-snacks" style="font-size:28px"
          data-controller="go"
          data-action="scroll@window->category-highlight#colors click->go#goToSection">
          SNACKS
        </h3>
        <h3
          id='cat-dessert' class="link-to-desserts" style="font-size:28px"
          data-controller="go"
          data-action="scroll@window->category-highlight#colors click->go#goToSection">
          DESSERTS
        </h3>
        <h3
          id='cat-set' class="link-to-sets" style="font-size:28px"
          data-controller="go"
          data-action="scroll@window->category-highlight#colors click->go#goToSection">
          SET MEALS
        </h3>
        <h3
          id='cat-drink' class="link-to-drinks" style="font-size:28px"
          data-controller="go"
          data-action="scroll@window->category-highlight#colors click->go#goToSection">
          DRINKS
        </h3>
      </div>

    </div>

  </div>

  <div id="menu-item-modal">
  </div>

  <div
    id="menu-displays"
    data-action="scroll@window->category-highlight#colors"
  >
    <%# container to align all menu cards %>
    <div id="mains" class="menu-items-container gate-to-mains">
      <%= render 'menu_card_experiment', menu_items: @main_courses %>
    </div>
    <div id="snacks" class="menu-items-container gate-to-snacks">
      <%= render 'menu_card_experiment', menu_items: @snacks %>
    </div>
    <div id="desserts" class="menu-items-container gate-to-desserts">
      <%= render 'menu_card_experiment', menu_items: @desserts %>
    </div>
    <div id="sets" class="menu-items-container gate-to-sets">
      <%= render 'menu_card_experiment', menu_items: @set_meals %>
    </div>
    <div id="drinks" class="menu-items-container gate-to-drinks">
      <%= render 'menu_card_experiment', menu_items: @drinks %>
    </div>
  </div>

</div>
