
<%# navbar %>
<div class="navbar navbar-home-background-color">

  <%# image %>
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag 'sinkies_logo.png' %>
    <% end %>
  </div>

  <%# navigation links %>
  <%# <div class="navlink-container"> %>
  <ul class="navbar-list">
    <li><%= link_to "MENU", menu_path, class: "navlink" %></li>
    <li><%= link_to "SPACE", space_path, class: "navlink" %></li>
    <li><%= link_to "PROMOTION", promotion_path, class: "navlink" %></li>
    <li><%= link_to "ABOUT", about_path, class: "navlink" %></li>
    <li><%= link_to "CONTACT", contact_path, class: "navlink" %></li>
    <li><%= link_to "RESERVATIONS", reservations_path, id: "navlink-reservations" %></li>
  </ul>
  <%# </div> %>

  <%# language toggle %>
  <div class="language-toggle">
    <p>日本語 </p>
    <i class="fa-solid fa-caret-down inverted-triangle"></i>
  </div>

  <div class="toggle-btn"
  data-controller="navbar-dropdown"
  data-action="click->navbar-dropdown#greet">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="dropdown-menu open">
    <li><%= link_to "MENU", menu_path, class: "navlink" %></li>
    <li><%= link_to "SPACE", space_path, class: "navlink" %></li>
    <li><%= link_to "PROMOTION", promotion_path, class: "navlink" %></li>
    <li><%= link_to "ABOUT", about_path, class: "navlink" %></li>
    <li><%= link_to "CONTACT", contact_path, class: "navlink" %></li>
    <li><%= link_to "RESERVATIONS", reservations_path, class: "navlink" %></li>
    <li class="navlink">日本語</li>
  </div>

</div>
