<%# navbar %>
<div>

  <%# image %>
  <div>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/logo.png" alt="Sinkies Logo">
  </div>

  <%# navigation links %>
  <div>
    <%= link_to "MENU", menu_path %>
    <%= link_to "SPACE", space_path %>
    <%= link_to "PROMOTION", promotion_path %>
    <%= link_to "ABOUT", about_path %>
    <%= link_to "CONTACT", contact_path %>
    <%= link_to "RESERVATIONS", reservations_path %>
  </div>

  <%# language toggle %>
  <div>
  </div>

</div>
