<%# navbar %>
<div>

  <%# image %>
  <div>
    <%= image_tag 'sinkies_logo.jpeg' %>
  </div>

  <%# navigation links %>
  <div>
    <%= link_to "MENU", menu_path, class: "navlink" %>
    <%= link_to "SPACE", space_path, class: "navlink" %>
    <%= link_to "PROMOTION", promotion_path, class: "navlink" %>
    <%= link_to "ABOUT", about_path, class: "navlink" %>
    <%= link_to "CONTACT", contact_path, class: "navlink" %>
    <%= link_to "RESERVATIONS", reservations_path, class: "navlink" %>
  </div>

  <%# language toggle %>
  <div>
    <p>日本語</p>
  </div>

</div>
