<%= render 'navbar_home' %>
<div class="page-container">
  <h1 class="page-header">PROMOTION</h1>

  <div class="promo-holder">

    <div class="promotion-card">
      <div class="promotion-card-image">
        <%= image_tag('promo-1.png') %>
      </div>
      <div class="promotion-card-details">
        <div>
          <h4 id="promo-title">10% OFF FOR VISITORS OF SINGAPORE</h4>
        </div>
        <div class="promo-description">
          <p>
            Have you recently arrived in Japan from Singapore?
            Enjoy 10% off all Sinkies items using your boarding pass.
          </p>
        </div>
        <div>
          <ul>
            <li>Promotion valid for both dine-in and takeaway.</li>
            <li>Promotion valid only if dining date is within 14-days of arrival in Japan.</li>
            <li>Promotion is extended to all other diners seated at the eligible party’s table.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="promotion-card">
      <div class="promotion-card-image">
        <%= image_tag('promo-1.png') %>
      </div>
      <div class="promotion-card-details">
        <div>
          <h4 id="promo-title">10% OFF LATE AFTERNOON MAIN COURSES</h4>
        </div>
        <div class="promo-description">
          <p>
            Enjoy 10% off all Sinkies main courses you order between 1400 hrs - 1600 hrs.
          </p>
        </div>
        <div>
          <ul>
            <li>Promotion valid for both dine-in and takeaway.</li>
            <li>Time of order shall be strictly according to the time indicated on the order slip.</li>
            <li>Promotion and discount applies only to à la carte main courses.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>


  <div class="promo-holder">

    <div class="promotion-card">
      <div class="promotion-card-image">
        <%= image_tag('promo-1.png') %>
      </div>
      <div class="promotion-card-details">
        <div>
          <h4 id="promo-title">FREE MORNING TEA OR COFFEE</h4>
        </div>
        <div class="promo-description">
          <p>
            A Singaporean breakfast of Kaya Toast isn't complete without the right breakfast drink.
            Enjoy a free cup of any Teh or Kopi drink with every order of Kaya Toast
            made between 0900 hrs - 0945 hrs.
          </p>
        </div>
        <div>
          <ul>
            <li>Promotion valid for both dine-in and takeaway.</li>
            <li>Time of order shall be strictly according to the time indicated on the order slip.</li>
            <li>Promotion applies to full portion orders of Kaya Toast only.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="promotion-card">
      <div class="promotion-card-image">
        <%= image_tag('promo-1.png') %>
      </div>
      <div class="promotion-card-details">
        <div>
          <h4 id="promo-title">FREE SIDES FOR 4-OF-A-KIND</h4>
        </div>
        <div class="promo-description">
          <p>
            Enjoy any 2 Sides for free by ordering four of the same main courses.
          </p>
        </div>
        <div>
          <ul>
            <li>Promotion valid for both dine-in and takeaway.</li>
            <li>Promotion does not apply to half-portion orders of Kaya Toast</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
